<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Dasar Hukum</h2>
                <p>Aplikasi SIPKD BLUD dalam pengembangannya dibangun berdasarkan regulasi terbaru yang ditetapkan
                    oleh Pemerintah Pusat, dalam hal ini adalah Kementerian Dalam Negeri. Berikut adalah regulasi-regulasi terkait yang mendasari dibangunnya aplikasi ini.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header  text-center p-3 mb-2">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">Permendagri 79</h3>
                        <p class="text-uppercase mb-2">Tahun 2018</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang Permendagri Nomor 79 Tahun 2018</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Berisi tentang Pedoman Pengelolaan Keuangan Badan Layanan Umum Daerah</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="./assets/File/PermendagriNomor79Tahun2018-1.pdf" target="_blank" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0   pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">SE Kemendagri 050/4396/Keuda</h3>
                        <p class="text-uppercase mb-2">Tahun 2021</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang SE Kemendagri 050/4396/Keuda Tahun 2019</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Berisi tentang tentang Penyesuaian Klasifikasi, Kodefikasi, Nomenklatur Perencanaan Pembangunan dan Keuangan Daerah</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 ">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">SE Kemendagri 981/4092/Keuda</h3>
                        <p class="text-uppercase mb-0">Tahun 2020</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang SE Kemendagri 981/4092/Keuda tahun 2020</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Berisi tentang Pedoman Pengelolaan Keuangan Badan Layanan Umum Daerah (BLUD)</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                        <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Kepmendagri 050-5889</h3>
                        <p class="text-uppercase mb-0">Tahun 2021</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang Kepmendagri 050-5889 tahun 2021</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Penyesuaian Klasifikasi, Kodefikasi, Nomenklatur Perencanaan Pembangunan dan Keuangan Daerah</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->


        </div>
    </div>
</section>
