<section id="intro-wrap" class="intro-six-Wrap  text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 intro-six-LeftSection pb-5">
                <h1 class="introTitle font-weight-bold text-white text-42 mb-3 t-shadow">SIPKD BLUD
                </h1>
                <p class="introDescription text-20 mb-4">Aplikasi SIPKD BLUD merupakan solusi untuk penerapan Pola Pengelolaan Keuangan Badan Layanan Umum Daerah (PPK BLUD) pada Unit Organisasi Pemerintah Daerah (UPTD/Dinas/Badan) pada tingkat Provinsi/ Kabupaten/ Kota  yang menerapkan PPK BLUD</p>
                <p class="introDescription text-20 mb-4">Aplikasi ini menunjang dalam proses/tahapan pengelolaan keuangan BLUD mulai dari Penganggaran, Penatausahaan dan Akuntansi BLUD, serta menghasilkan laporan yang di butuhkan oleh pengelola BLUD dan Pihak lainnya sesuai dengan format regulasi terbaru dan alur aplikasi yang lebih sederhana.</p>
                <p class="introDescription text-20 mb-4">Aplikasi ini menunjang dalam Proses Penganggaran dan Penatausahan Dana BOK Puskesmas.</p>
                <div class="intro-six-Buttons">
                    <a name="" id=""
                        class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button"
                        href="javascript:void(0)" (click)="login()" role="button">
                        Login
                    </a>

                </div>

            </div>
            <div class="col-md-6 intro-six-RightSection d-flex align-items-center">

                <div class="intro-six-ProductImage">

                    <img src="./assets/landing/images/landing/Header_1.png" class="img-responsive" alt=""
                        [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '500ms'}}">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>

</section>
