<div class="card">
  <p-tabView>
    <p-tabPanel header="SP3B" leftIcon="pi pi-list" [cache]="false">
      <ng-template pTemplate="content">
        <app-tab-sp3b-sah-rincian [rootSelected]="rootSelected"></app-tab-sp3b-sah-rincian>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Rincian SP2B" leftIcon="pi pi-list" [cache]="false">
      <ng-template pTemplate="content">
        <app-tab-sp2b-sah-rincian [rootSelected]="rootSelected"></app-tab-sp2b-sah-rincian>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
