<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <span class="d-inline-block mt-2 mr-2"><i [attr.data-feather]="'home'" appFeatherIcon class="svg-size-custom"></i></span>
        <label class="position-absolute title-font-custom">{{title}}</label>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="Pembuatan SP3B" [cache]="false">
            <ng-template pTemplate="content">
              <app-sp3b [tabIndex]="tabIndex"></app-sp3b>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Pengesahan SP3B" [cache]="false">
            <ng-template pTemplate="content">
              <app-sp3b-sah [tabIndex]="tabIndex"></app-sp3b-sah>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
