<p-dialog
  [(visible)]="showThis"
  [style]="{width: '80vw'}"
  [modal]="true"
  (onHide)="onHide()"
  [maximizable]="true"
  [draggable]="false">
  <p-header>
    {{title}}
  </p-header>
  <div class="row">
    <div class="col-md-12">
      <p-table [loading]="loading" [value]="listdata" [rowHover]="true" [paginator]="true" [rows]="10" #dt [globalFilterFields]="['nobkpajak','tglbkpajak', 'uraian', 'kdstatusNavigation.uraian', 'tglvalid']">
        <ng-template pTemplate="caption">
          <div class="row p-2">
            <div class="ui-g-6" style="text-align: left">

            </div>
            <div class="col-lg-6 col-md-12 text-right pr-0 pl-0">
              <div class="ui-inputgroup col-lg-6 col-md-12" style="float: right;">
                <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                <input type="text" class="w-100" pInputText placeholder="Cari Data" (input)="dt.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center" [pSortableColumn]="'nosp3b'">Nomor Bukti
              <span style="float: right">
                <p-sortIcon [field]="'nosp3b'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </span>
            </th>
            <th style="text-align: center" [pSortableColumn]="'tglsp3b'">Tanggal Bukti
              <span style="float: right">
                <p-sortIcon [field]="'tglsp3b'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </span>
            </th>
            <th style="text-align: center" [pSortableColumn]="'uraisp3b'">Uraian
              <span style="float: right">
                <p-sortIcon [field]="'uraisp3b'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </span>
            </th>
            <th style="text-align: center" [pSortableColumn]="'tglvalid'">Tanggal Valid
              <span style="float: right">
                <p-sortIcon [field]="'tglvalid'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </span>
            </th>
            <th style="width: 10%; text-align: center">Pilihan</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr class="ui-selectable-row">
            <td style="text-align: center">{{data.nosp3b }}</td>
            <td style="text-align: center">{{data.tglsp3b | date: 'dd/MM/yyy'}}</td>
            <td style="text-align: center">{{data.uraisp3b}}</td>
            <td style="text-align: center">
              <div *ngIf="data.valid != null; else notvalid">
                <div class="row">
                  <div class="col-md-12">
                          <span [style.color]="data.valid ? 'green' : 'red' ">
                            {{ data.valid ? 'Diterima' : 'Ditolak' }}
                          </span>
                  </div>
                  <div class="col-md-12">
                    {{ data.tglspj | date: 'mediumDate'}}
                  </div>
                </div>
              </div>
              <ng-template #notvalid>
                Belum Disahakan
              </ng-template>
            </td>
            <td style="text-align: center" class="pl-0 pr-0">
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="pilih(data); dt.reset()"><i class="fa fa-check"></i>&nbsp;Pilih</button>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" style="text-align:center">Data Tidak Tersedia</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-messages [(value)]="msg"></p-messages>
    </div>
  </div>
  <p-footer>
    <button type="button" class="btn btn-soft-secondary btn-sm" (click)="onHide();"><i class="fa fa-close"></i>&nbsp;Kembali</button>
  </p-footer>
</p-dialog>
