<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <span class="d-inline-block mt-2 mr-2"><i [attr.data-feather]="'home'" appFeatherIcon class="svg-size-custom"></i></span>
<label class="position-absolute title-font-custom">{{title}}</label>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="Pembuatan S-PPD">
            <app-pembuatan-ls-nonpeg [tabIndex]="tabIndex"></app-pembuatan-ls-nonpeg>
          </p-tabPanel>
          <p-tabPanel header="Pengesahan S-PPD">
            <app-verifikasi-ls-nonpeg [tabIndex]="tabIndex"></app-verifikasi-ls-nonpeg>
          </p-tabPanel>
          <!--<p-tabPanel header="Penolakan S-PPD">
            <app-tolak-ls-nonpeg [tabIndex]="tabIndex"></app-tolak-ls-nonpeg>
          </p-tabPanel>-->
        </p-tabView>
      </div>
    </div>
  </div>
</div>
