<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <span class="d-inline-block mt-2 mr-2"><i [attr.data-feather]="'list'" appFeatherIcon class="svg-size-custom"></i></span>
        <label class="position-absolute title-font-custom">{{title}}</label>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView>
          <p-tabPanel header="Rekening Utang" [cache]="false">
            <ng-template pTemplate="content">
              <app-rekening-utang></app-rekening-utang>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
